* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

h1 {
    font-family: "Mukta", sans-serif;
    font-size: 14vw;
    color: white;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/imgs/angel-jimenez.jpg');
    height: 100vh;
}

section {
    width: 100%;
    background-color: #fff;
}

.title {
    font-size: 4.6vw;
    display: flex;
    font-weight: 600;
    white-space: nowrap;
    flex-direction: column;
}

.color {
    background: linear-gradient(to right, #f75860, #9a00b9);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

section {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

article {
    gap: 16px;
    width: 40%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
}

article button {
    width: 16em;
    height: 3.2em;
    font-size: 1vw;
    color: white;
    background-color: #fd4c5c;
    border: none;
    border-radius: 24px;
}

.text {
    font-size: 1.3vw;
    line-height: 1.8vw;
    display: flex;
    align-items: start;
    flex-direction: column;
    font-weight: 500;
    justify-content: center;
}

.container-w2{
    display: flex;
    justify-content: end;
    align-items: center;
    background-size: cover;
    background-image: url('../assets/imgs/john-raptis.png');
    height: 90vh;

}

.text-w{
    color: white;
    font-size: 1.2vw;
    width: 70%;
    hyphens: auto;
}
.title2{
    color: white;
    font-size: 4vw;
    font-weight: 600;
}
footer {
    height: 50vh;
    background-color: #fd4c5c;
    display: flex;
    justify-content: center;
    color: white;
    font-size: .8vw;
}

.container-f {
    width: 70%;
}

.hr-be {
    color: white;
}

table {
    margin-top: 3em;
}

tbody tr {
    height: 2.4em;
}

th {
    height: 6em;
    font-weight: 500;
}

td,
th {
    text-align: start;
    width: 18em;
}

td a,
th a {
    color: #fff;
}

hr {
    background-color: #ffffffb6;
    height: 1px;
    width: 100%;
    margin: 1.2rem 0;
}

.hr-af {
    display: flex;
    justify-content: space-between;
}

.img {
    height: 100%;
    display: grid;
    place-items: center;
    width: 40%;
}

.img img {
    max-height: 100%;
    max-width: 100%;
}